/* header */
.headerList li{
  float: left;
  list-style:none;
  padding:20px;
  font-family: 'Anton', sans-serif;
  font-size:30px
}


body{
  background-image: url(../background.jpg);
  background-image: url(../haike2i.jpg);
  background-size:cover;
}
a{
  text-decoration: none;
}
/* レスポンシブルデザイン */
@media (max-width:600px) {
  .headerList{
    display:flex;
    flex-direction: column;
    align-items: center;

  }
  .headerList{
      margin:0 auto;
  }

  body{
    background-image: url(../haikei3.jpg);
  }

}
